.nav-links ul li {
    list-style: none;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    padding: 10px;
  }


#newEmployee {
    justify-content: center;
}



#addEmployeeSection div {
    background-color: rgb(17, 66, 112);

    width: 15em;
}

table, th, td {
    border: 1px solid black;
  }
  
  th {
    height: 20px;
  }

  td {
    text-align: center;
  }

  

